DATABASE_URL="postgresql://neondb_owner:...@ep-...-...-...-....ap-southeast-1.aws.neon.tech/neondb?uselibpqcompat=true&sslmode=require"
NEXTAUTH_SECRET=...
REDIS_USERNAME=default
REDIS_PASSWORD=H6...3iE
REDIS_HOST=redis-16479.....ap-....cloud.redislabs.com
REDIS_PORT=16479
EMAIL_USER=...@gmail.com
EMAIL_PASS=xu...njw
MAINTENANCE_MODE=false
CLOUDINARY_API_KEY=98...48
CLOUDINARY_API_SECRET=UU...0Y
CLOUDINARY_CLOUD_NAME=d...o
CLOUDINARY_FOLDER_NAME=...
DOCKER_ENDPOINT=http://127.0.0.1:8000/v1/

# bunx prisma db push
# bunx prisma db seed

# bunx prisma migrate dev --name add-category-isActive
# bunx prisma generate
# bunx prisma migrate reset
# bunx prisma studio
